.contact-container {
  display: flex;
  justify-content: space-between;
  max-width: 900px;
  margin: 50px auto;
  padding: 20px;

  
}
.contact-bg {
  background-image: url("../images/contact-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 20px;
  min-height: 90vh;
}

.contact-info {
  width: 40%;
}

.contact-info h2 {
  font-size: 28px;
  margin-bottom: 10px;
}

.contact-info p {
  margin: 10px 0;
  font-size: 16px;
}

.contact-form {
  width: 55%;
  display: flex;
  flex-direction: column;
}

.fullname {
  gap: 10px;
  margin-bottom: 10px;
}

.contact-form input,
.contact-form textarea {
  padding: 10px;
  margin-bottom: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.contact-form textarea {
  resize: vertical;
  height: 100px;
}

@media only screen and (max-width: 768px) {
  .contact-container {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
  }

 
  .contact-info {
    width: 100%;
    margin-bottom: 20px;
  }

  .contact-form {
    width: 100%;
    height: auto;
  }

  .fullname {
    display: flex;
    flex-direction: row;
   
    gap: 10px;
    
  }

  .fullname .First,
  .fullname .Last {
    flex: 1;
    
  }

  .fullname input {
    width: 100%;
   
  }

  .contact-bg {
    height: 800px;
    background-position: center;
  }
}