.heading h1 {
  display: flex;
  justify-content: center;
  padding-top: 30px;

}

.select {
  display: flex;

  gap: 10px;
  margin-bottom: 10px;
}

.select select {
  padding: 10px;
  margin-bottom: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;

}



.order-form {
  width: 55%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 900px;
  margin: 50px auto;
  padding: 30px;
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
  box-sizing: border-box;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);

}

.fullname {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

.order-form input,
.order-form textarea {
  padding: 10px;
  margin-bottom: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.order-form textarea {
  resize: vertical;
  height: 100px;
}

.button {
  text-align: center;
}



@media only screen and (max-width: 768px) {
  .select {
    flex-direction: column;
  }

  .order-form {
    flex-direction: column;
  }


  .fullname {
    flex-direction: column;
    gap: 14px;

  }
}