#promo-section {
   width: 100%;
}
.promos {
    display: flex;
    width: 100%;
}
 .morning-section {
   display: flex;
   flex-direction: column;
   padding: 0 70px;
 }
 
 .promo {
    flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  
 }

 .morning-section {
    background-image: url(../images/morningbg.png);
    background-position: center;
    background-size: cover;
    align-items: flex-start;
 }


 .promo-content {
    padding: 120px;
    text-align: center;
}


@media only screen and (max-width: 768px) {
   .promos {
      flex-direction: column;
   }

   .morning-section {
      justify-content: center;
      padding: 0;
   }
}


